.parent{
    display: grid;
    grid-template-columns: repeat(12,1fr);
}

.segment{
    display: grid;
    place-items: center;
    text-align: center;
    grid-template-rows: 100px;
}

.twelve{
    background-color: lightseagreen;
    grid-column: 1/ span 12;
}

.eight{
    background-color: lightgoldenrodyellow;
    grid-column: 1/ span 8
}

.four{
    background-color: lightcoral;
    grid-column: 9/ span 4;
}
.six{
    background-color: lightgray;
    grid-column: 7/ span 6;
}

.seven{
    background-color: lightsalmon;
    grid-column: 1/ span 7;
}