body{
    background-color: rgba(0, 0, 0, 0.799);
}

.sebas{
    border-radius: 10px;
    padding: 50px;
    background-color: lightcoral;
    width: 120px;
    margin: 10px;
    display: flex;
    border: 3px solid;
}
.sebas:hover{
    box-shadow: 5px 0px 25px black;
}

.button{
    height: 60px;
    width: 60px;
    background-color: hsl(39, 100%, 50%);
    border-radius: 100px;
    text-align: center;
    border: 4px solid ;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 40px;
}

.calc{
    display: grid;
    grid-template-columns: 70px 70px 70px;
    background-color: rgb(50, 47, 47);
    width: 250px;
    border-radius: 30px;
    border: 3px solid ;

}

.button:hover{
    background-color: hsl(39, 100%, 80%);;
}

.button:active{
    background-color: hsl(39, 100%, 80%);;
}

.calc:hover{
    box-shadow: 5px 0px 25px black;
}